@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

.fs-consolas {
    font-family: Consolas, monaco, monospace;
}

.fs-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.fs-source-code {
    font-family: 'Source Code Pro', monospace;
}

.fs-arimo {
    font-family: 'Arimo', sans-serif;
}

.fs-roboto {
    font-family: 'Roboto', sans-serif;
}

.fs-open-sans {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f2f2f2;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background: #569993;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:active {
    background: #2abbac;
    border-radius: 1px;
}